<h3>New Zoo Form</h3>

<div class="row large-6 columns ">
  <%= form_for @zoo do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>

  <%= f.label :state , "State" %>
  <%= f.select(:state, options_for_select(@state_collection), :prompt => "Select a State") %>

  <%= f.label :zip , "Zip Code" %>
  <%= f.text_field :zip %>

  <%= f.submit "Add Zoo"%>
  <% end %>
</div>
