<h1><%= @zoo.name %></h1>

  <h6><%= @zoo.address %></h6>
  <h6><%= @zoo.city %></h6>
  <h6><%= @zoo.state %></h6>
  <h6><%= @zoo.zip %></h6>

  <%= form_for ([@zoo, @review]) do |f| %>
    <%= f.label :body, "Comment" %>
    <%= f.text_field :body %>

    <%= f.label :rating, "Rating"%>
    <%= f.collection_radio_buttons(:rating, @rating_collection, :first, :last) %>

    <%= f.submit "Add Review"%>
    <% end %>

    <% @reviews.each do |review| %>
    <ul>
      <li><%= review.user.email %></li>
      <li>Rating: <%= review.rating %></li>
      <% if review.body != "" %>
        <li><%= review.body %></li>
      <% end %>
    </ul>
    <% end %>
