<br>
<div class="row">
  <h3 class="zoo-name"><%= @zoo.name %></h3>
  <div class="zoo-info large-6 medium-6 columns">
    <h6><span>Street:</span> <%= @zoo.address %></h6>
    <h6><span>City:</span> <%= @zoo.city %></h6>
    <h6><span>State:</span> <%= @zoo.state %></h6>
    <h6><span>Zip Code:</span> <%= @zoo.zip %></h6>

    <% if user_signed_in? %>
      <% if current_user.admin? || current_user.id == @zoo.user_id %><br>
        <%= link_to "Edit Zoo", edit_zoo_path(@zoo) %>
        <%= link_to "Delete Zoo", zoo_path(@zoo), data: { :confirm => "Are you sure?" }, method: :delete %>
      <% end %>
    <% end %>
    <%= render "zoos/review_form" %>
  </div>
  <div class="large-6 medium-6 columns">
    <% @reviews.each do |review| %>
      <ul class="review-info">
        <li><%= review.user.email %></li>
        <li>Rating: <%= review.rating %></li>
      <% if review.body != "" %>
        <li><%= review.body %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? || current_user.id == review.user_id %>
          <%= link_to "Edit Review", edit_zoo_review_path(@zoo, review) %>
          <%= link_to "Delete Review", zoo_review_path(@zoo, review), data: { :confirm => "Are you sure?" }, method: :delete %><br>
          <% end %>
          <span class="upvote-<%= review.id %>">
          <%= link_to "Vote Up", review_votes_path(review, value: 1), class: "upvote fa fa-thumbs-up", id: "upvote-#{review.id}", data: { zooid: "#{@zoo.id}", reviewid: "#{review.id}" }, method: :post %>
        </span>

          <p class="total-votes-<%= review.id %>">
            <%= review.vote_total %>
          </p>
          <span class="downvote-<%= review.id %>">
            <%= link_to "Vote Down", review_votes_path(review, value: -1), class: "downvote fa fa-thumbs-down", id: "downvote-#{review.id}", data: { zooid: "#{@zoo.id}", reviewid: "#{review.id}" }, method: :post  %>
          </span>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
