<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Zootopia" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">ZOOTOPIA</li>
          <li class="nav-buttons"><%= link_to "Home", root_path %></li>
          <li class="nav-buttons"><%= link_to "Zoos", zoos_path %></li>
          <% if user_signed_in? %>
            <li class="nav-buttons"><%= link_to "Add Zoo", new_zoo_path %></li>
            <li class="nav-buttons"><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li class="nav-buttons"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-buttons"><%= link_to "Sign In", new_user_session_path %></li>
            <li class="nav-buttons"><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <%= form_tag("/zoos/search", method: "get") do %>
        <ul class="menu">
          <li>
            <%= text_field_tag(:q) %>
          </li>
          <li>
            <%= submit_tag("Search", {:class => 'button'}) %>
          </li>
        </ul>
          <% end %>
        </div>
      </div>

    <% flash.each do |name, msg| %>
       <% if msg.is_a?(String) %>
         <%= content_tag :div, msg, :class => "flash_#{name}" %>
       <% end %>
     <% end %>

    <%= yield %>
    <%= render partial: '/layouts/footer' %>
  </body>
</html>
